---
---
$primary: #f2a365;
$text-strong: #f2a365;

$body-background-color: #222831;
$background: #222831;
$footer-background-color: #222831;
$navbar-background-color: #f2a365;

$navbar-item-hover-background-color: #ececec;
$text: #ececec;
//https://colorhunt.co/palette/179373 
// Import Main CSS file from theme
@import "main";